body {
  background-image: linear-gradient(to right, #007bff, #2fe7c1);
}
.jumbotron {
  margin-top: 3rem;
  background-color: transparent !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
}
.jumbotron .btn {
  margin: auto;
  display: table;
}
